.s-margin{
    margin-top: 5rem;
}

.btn-main {
    border: 2px solid;
    background: transparent;
    outline: 0;
    font-size: 19px;
    text-transform: uppercase;
    padding: 10px 20px;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .btn-red {
    color: rgb(255, 0, 0);
  }
  .btn-red:hover {
    background: rgb(161, 161, 161);
    border-color: rgb(231, 4, 4);
    color: #d40000;
  }